{% extends 'index.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
 <!-- Navbar with Logout button -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Todo App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main content area -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <h2>Todo List</h2>
        </div>
        <!-- Add Task button -->
        <div class="text-center mt-3">
            <button class="btn btn-primary" id="addTaskButton" data-toggle="modal" data-target="#addTaskModal">Add Task</button>
        </div>
        <!-- Todo lists go here -->
        <div class="mt-5">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="today-tab" data-toggle="tab" href="#today" role="tab"
                        aria-controls="today" aria-selected="false">Today 
                        {% if Today %}
                        <span style='background-color:red; border-radius:50%; padding: 3px 5px; color:white;font-size: 10px;'>{{ Today|length }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab"
                        aria-controls="pending" aria-selected="true">Pending
                        {% if Pending %}
                        <span style='background-color:green; border-radius:50%; padding: 3px 5px; color:white;font-size: 10px;'>{{ Pending|length }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="near-tab" data-toggle="tab" href="#near" role="tab"
                        aria-controls="near" aria-selected="false">Close Deadline
                        {% if Near %}
                        <span style='background-color:orange; border-radius:50%; padding: 3px 5px; color:white;font-size: 10px;'>{{ Near|length }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="completed-tab" data-toggle="tab" href="#completed" role="tab"
                        aria-controls="completed" aria-selected="false">Completed
                        {% if Completed %}
                        <span style='background-color:grey; border-radius:50%; padding: 3px 5px; color:white;font-size: 10px;'>{{ Completed|length }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="delayed-tab" data-toggle="tab" href="#delayed" role="tab"
                        aria-controls="delayed" aria-selected="false">Delayed
                        {% if Delayed %}
                        <span style='background-color:#8b0000; border-radius:50%; padding: 3px 5px; color:white;font-size: 10px;'>{{ Delayed|length }}</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- Today Tasks -->
                <div class="tab-pane fade" id="today" role="tabpanel" aria-labelledby="today-tab">
                    <table class="table table-striped table-bordered mt-3" style="width:100%">
                        <thead>
                            <tr>
                                <th>Task Name</th>
                                <th>Added on</th>
                                <th>Deadline</th>
                                <th>Completed</th>
                                <th>Update</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in Today %}
                                <tr data-id="table_rows">
                                    <td class="p-2 tasknamecross">{{ task.TaskName }}</td>
                                    <td class="p-2">{{ task.TaskAddedOn }}</td>
                                    <td class="p-2">{{ task.TaskDeadline }}</td>
                                    <td class="p-2 is_completed_task" >{{ task.IsCompleted }}</td>
                                    <td class="p-2" ><button class="black-button" data-task-id="{{ task.task_id }}-today"
                                         data-target="#updateTaskModal" data-toggle="modal" onclick="prepopulate(this)" style='border: none; display:flex'><img
                                            src="{% static 'img/edit.svg' %}" style='height:18px'
                                            id=""></button></td>
                                    <td>
                                        <button class="black-button" data-task-id="{{ task.task_id }}"
                                            onclick="markAsComplete(this)" style='border: none; display:flex'><img
                                                src="{% static 'img/tick.png' %}" style='height:18px'
                                                id="togglePasswordImg"></button>
                                        <button class="red-button" data-task-id="{{ task.task_id }}"
                                            onclick="deleteTask(this)" style='border: none' id='bin'><img
                                                src="{% static 'img/bin.png' %}" style='height:18px'
                                                id="togglebinImg" onmouseover="onhoverImg(this)"></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Pending Tasks -->
                <div class="tab-pane fade show active" id="pending" role="tabpanel"
                    aria-labelledby="pending-tab">
                    <table class="table table-striped table-bordered mt-3" style="width:100%">
                        <thead>
                            <tr>
                                <th>Task Name</th>
                                <th>Added on</th>
                                <th>Deadline</th>
                                <th>Completed</th>
                                <th>Update</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in Pending %}
                                <tr data-id="table_rows">
                                    <td class="p-2 tasknamecross">{{ task.TaskName }}</td>
                                    <td class="p-2">{{ task.TaskAddedOn }}</td>
                                    <td class="p-2">{{ task.TaskDeadline }}</td>
                                    <td class="p-2 is_completed_task" >{{ task.IsCompleted }}</td>
                                    <td class="p-2" ><button class="black-button" data-task-id="{{ task.task_id }}-pending"
                                         data-target="#updateTaskModal" data-toggle="modal" onclick="prepopulate(this)" style='border: none; display:flex'><img
                                            src="{% static 'img/edit.svg' %}" style='height:18px'
                                            id=""></button></td>
                                    <td>
                                        <button class="black-button" data-task-id="{{ task.task_id }}"
                                            onclick="markAsComplete(this)" style='border: none; display:flex'><img
                                                src="{% static 'img/tick.png' %}" style='height:18px'
                                                id="togglePasswordImg"></button>
                                        <button class="red-button" data-task-id="{{ task.task_id }}"
                                            onclick="deleteTask(this)" style='border: none' id='bin'><img
                                                src="{% static 'img/bin.png' %}" style='height:18px'
                                                id="togglebinImg" onmouseover="onhoverImg(this)"></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Close Deadline Tasks -->
                <div class="tab-pane fade" id="near" role="tabpanel" aria-labelledby="near-tab">
                    <table class="table table-striped table-bordered mt-3" style="width:100%">
                        <thead>
                            <tr>
                                <th>Task Name</th>
                                <th>Added on</th>
                                <th>Deadline</th>
                                <th>Completed</th>
                                <th>Update</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in Near %}
                                <tr data-id="table_rows">
                                    <td class="p-2 tasknamecross">{{ task.TaskName }}</td>
                                    <td class="p-2">{{ task.TaskAddedOn }}</td>
                                    <td class="p-2">{{ task.TaskDeadline }}</td>
                                    <td class="p-2 is_completed_task">{{ task.IsCompleted }}</td>
                                    <td class="p-2" ><button class="black-button" data-task-id="{{ task.task_id }}-near"
                                         data-target="#updateTaskModal" data-toggle="modal" onclick="prepopulate(this)" style='border: none; display:flex'><img
                                            src="{% static 'img/edit.svg' %}" style='height:18px'
                                            id=""></button></td>
                                    <td>
                                        <button class="black-button" data-task-id="{{ task.task_id }}"
                                            onclick="markAsComplete(this)" style='border: none; display:flex'><img
                                                src="{% static 'img/tick.png' %}" style='height:18px'
                                                id="togglePasswordImg"></button>
                                        <button class="red-button" data-task-id="{{ task.task_id }}"
                                            onclick="deleteTask(this)" style='border: none' id='bin'><img
                                                src="{% static 'img/bin.png' %}" style='height:18px'
                                                id="togglebinImg" onmouseover="onhoverImg(this)"></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Completed Tasks -->
                <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
                    <table class="table table-striped table-bordered mt-3" style="width:100%">
                        <thead>
                            <tr>
                                <th>Task Name</th>
                                <th>Added on</th>
                                <th>Deadline</th>
                                <th>Completed</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in Completed %}
                                <tr data-id="table_rows">
                                    <td class="p-2 tasknamecross">{{ task.TaskName }}</td>
                                    <td class="p-2">{{ task.TaskAddedOn }}</td>
                                    <td class="p-2">{{ task.TaskDeadline }}</td>
                                    <td class="p-2 is_completed_task" >{{ task.IsCompleted }}</td>
                                    <td>
                                        <button class="black-button" data-task-id="{{ task.task_id }}"
                                            onclick="markAsComplete(this)" style='border: none; display:flex'><img
                                                src="{% static 'img/tick.png' %}" style='height:18px'
                                                id="togglePasswordImg"></button>
                                        <button class="red-button" data-task-id="{{ task.task_id }}"
                                            onclick="deleteTask(this)" style='border: none' id='bin'><img
                                                src="{% static 'img/bin.png' %}" style='height:18px'
                                                id="togglebinImg" onmouseover="onhoverImg(this)"></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Delayed Tasks -->
                <div class="tab-pane fade" id="delayed" role="tabpanel" aria-labelledby="delayed-tab">
                    <table class="table table-striped table-bordered mt-3" style="width:100%">
                        <thead>
                            <tr>
                                <th>Task Name</th>
                                <th>Added on</th>
                                <th>Deadline</th>
                                <th>Completed</th>
                                <th>Update</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in Delayed %}
                                <tr data-id="table_rows">
                                    <td class="p-2 tasknamecross">{{ task.TaskName }}</td>
                                    <td class="p-2">{{ task.TaskAddedOn }}</td>
                                    <td class="p-2">{{ task.TaskDeadline }}</td>
                                    <td class="p-2 is_completed_task" >{{ task.IsCompleted }}</td>
                                    <td class="p-2" ><button class="black-button" data-task-id="{{ task.task_id }}-delayed"
                                         data-target="#updateTaskModal" data-toggle="modal" onclick="prepopulate(this)" style='border: none; display:flex'><img src="{% static 'img/edit.svg' %}" style='height:18px'></button></td>
                                    <td>
                                        <button class="black-button" data-task-id="{{ task.task_id }}"
                                            onclick="markAsComplete(this)" style='border: none; display:flex'><img
                                                src="{% static 'img/tick.png' %}" style='height:18px'
                                                id="togglePasswordImg"></button>
                                        <button class="red-button" data-task-id="{{ task.task_id }}"
                                            onclick="deleteTask(this)" style='border: none' id='bin'><img
                                                src="{% static 'img/bin.png' %}" style='height:18px'
                                                id="togglebinImg" onmouseover="onhoverImg(this)"></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
 <!-- Add Task Modal -->
 <form class="task-form" method="POST" action="{% url 'home' %}">
    {% csrf_token %}
 <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- TaskName input -->
                <div class="form-group">
                    <label for="taskName">Task Name</label>
                    <input type="text" class="form-control" id="taskName" name='TaskName' placeholder="Enter Task Name">
                </div>
                <!-- TaskDeadline input -->
                <div class="form-group">
                    <label for="taskDeadline">Task Deadline</label>
                    <input type="date" class="form-control" id="taskDeadline" name='TaskDeadline'>
                </div>
                <input type="hidden" class="form-control" id="methodtype" name='methodtype' value='post'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save Task</button>
            </div>
        </div>
    </div>
</div>
</form>

<!-- Update Task Modal -->
<form class="task-form" method="POST" action="{% url 'home' %}">
    {% csrf_token %}
 <div class="modal fade" id="updateTaskModal" tabindex="-1" role="dialog" aria-labelledby="updateTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateTaskModalLabel">Update Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- TaskName input -->
                <div class="form-group">
                    <label for="taskName">Task Name</label>
                    <input type="text" class="form-control" id="updatetaskName" name='UpdateTaskName' placeholder="Enter Task Name" value='{{ task.TaskName }}'>
                </div>
                <!-- TaskDeadline input -->
                <div class="form-group">
                    <label for="taskDeadline">Task Deadline</label>
                    <input type="date" class="form-control" id="updatetaskDeadline" name='UpdateTaskDeadline'>
                </div>
                <input type="hidden" class="form-control" id="updatetaskId" name='UpdateTaskId' value='{{ task.task_id }}'>
                <input type="hidden" class="form-control" id="methodtype" name='methodtype' value='put'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update Task</button>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{%static 'js/home.js' %}"></script>
<script>
    function markAsComplete(button) {
        var taskId = button.getAttribute('data-task-id');
        
        var formData = 'task_id=' + encodeURIComponent(taskId);
    
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/mark_as_complete/', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    
        xhr.onload = function() {
            if (xhr.status === 200) {
                location.reload();
            } else {
                console.error('An error occurred:', xhr.status, xhr.statusText);
            }
        };
        xhr.send(formData);
    };

function prepopulate(button) {
    var taskId = button.getAttribute('data-task-id').split('-')[0];
    var tasktype = button.getAttribute('data-task-id').split('-')[button.getAttribute('data-task-id').split('-').length - 1];
    if(tasktype === 'delayed'){
        var DelayedTasks = {{ DelayedJSON|safe }};
        for(items in DelayedTasks){
            if(taskId===String(DelayedTasks[items].pk)){
                let taskNameField = document.getElementById('updatetaskName');
                taskNameField.value = DelayedTasks[items].fields['TaskName'];
                let taskIdField = document.getElementById('updatetaskId');
                taskIdField.value = taskId;
                let taskdeadline = document.getElementById('updatetaskDeadline');
                taskdeadline.value = DelayedTasks[items].fields['TaskDeadline'].split('T')[0];
        }
        }
    }
    else if(tasktype === 'pending'){
        var PendingTasks = {{ PendingJSON|safe }};
        for(items in PendingTasks){
            if(taskId===String(PendingTasks[items].pk)){
                let taskNameField = document.getElementById('updatetaskName');
                taskNameField.value = PendingTasks[items].fields['TaskName'];
                let taskIdField = document.getElementById('updatetaskId');
                taskIdField.value = taskId;
                let taskdeadline = document.getElementById('updatetaskDeadline');
                taskdeadline.value = PendingTasks[items].fields['TaskDeadline'].split('T')[0];
        }
        }
}
    else if(tasktype === 'near'){
        var NearTasks = {{ NearJSON|safe }};
        for(items in NearTasks){
            if(taskId===String(NearTasks[items].pk)){
                let taskNameField = document.getElementById('updatetaskName');
                taskNameField.value = NearTasks[items].fields['TaskName'];
                let taskIdField = document.getElementById('updatetaskId');
                taskIdField.value = taskId;
                let taskdeadline = document.getElementById('updatetaskDeadline');
                taskdeadline.value = NearTasks[items].fields['TaskDeadline'].split('T')[0];
        }
        }
}
    else if(tasktype === 'today'){
        var TodayTasks = {{ TodayJSON|safe }};
        for(items in TodayTasks){
            if(taskId===String(TodayTasks[items].pk)){
                let taskNameField = document.getElementById('updatetaskName');
                taskNameField.value = TodayTasks[items].fields['TaskName'];
                let taskIdField = document.getElementById('updatetaskId');
                taskIdField.value = taskId;
                let taskdeadline = document.getElementById('updatetaskDeadline');
                taskdeadline.value = TodayTasks[items].fields['TaskDeadline'].split('T')[0];
        }
        }
}
}
    function deleteTask(button) {
        var taskId = button.getAttribute('data-task-id');

        var formData = 'task_id=' + encodeURIComponent(taskId);
    
        var xhr = new XMLHttpRequest();
    
        xhr.open('POST', '/delete_task/', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    
        xhr.onload = function() {
            if (xhr.status === 200) {
                location.reload();
            } else {
                console.error('An error occurred:', xhr.status, xhr.statusText);
            }
        };
        xhr.send(formData);
    }


document.addEventListener('DOMContentLoaded', function () {
    var taskRows = document.querySelectorAll('[data-id="table_rows"]');
    taskRows.forEach(function (row) {
        var isCompletedCell = row.querySelector('.is_completed_task'); // Use class selector
        var taskNameCell = row.querySelector('.tasknamecross');
        if (isCompletedCell.textContent.trim() === 'True') {
            taskNameCell.innerHTML = '<del>' + taskNameCell.textContent + '</del>';
        }
    });
});
</script>
{% endblock %}