{% extends 'index.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
<div id="modal" class="modal">
    <div class="modal-content">
        <p>Welcome to our home page! Explore our amazing content.</p>
        <button id="modal-close">Continue</button>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}

<script>
    const modal = document.getElementById("modal");
    const modalClose = document.getElementById("modal-close");
    
    // Display the modal
    modal.style.display = "block";
    
    // Close the modal when the user clicks the "Continue" button
    modalClose.addEventListener("click", function() {
        modal.style.display = "none";
    });
    {% comment %} window.location.replace("");  {% endcomment %}
</script>
{% endblock %}