{% extends 'index.html' %}

{% load static %}

{% block title %}ToDo{% endblock %}



{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4">Welcome to my ToDo App</h1>
            <p class="lead">Manage your tasks efficiently.</p>
            <div class="mt-4">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a>
                <a href="{% url 'signup' %}" class="btn btn-success btn-lg">Signup</a>
            </div>
            <div class="mt-4">
                <!-- Creator Info Block -->
                <div>
                    <p class="lead">Created by Ambar</p>
                </div>
                <div>
                    <!-- Links to Portfolio, GitHub, and LinkedIn with Iconify icons -->
                    <a href="https://github.com/Ambar-06" target="_blank">
                        <span class="iconify" data-icon="mdi:github" style="font-size: 50px;"></span>
                    </a>
                    <a href="https://ambarr06.pythonanywhere.com/" target="_blank">
                        <span class="iconify" data-icon="mdi:web" style="font-size: 50px;"></span>
                    </a>
                    <a href="https://www.linkedin.com/in/ambarrzvi/" target="_blank">
                        <span class="iconify" data-icon="mdi:linkedin" style="font-size: 50px;"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% endblock %}