{% extends 'index.html' %}
{% load static %}

{% block title %}Login {% endblock %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}


{% block body %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="color:black;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"> X </span>
        </button>
    </div>
{% endfor %}
{% endif %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Login</h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <form class="login-form" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="loginemail" class="form-label">Email<b style="color: red;">*</b></label>
                        <input type="email" class="form-control" id="loginemail" name="loginemail" placeholder="name@example.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="signuppassword" class="form-label">Password<b style="color: red;">*</b></label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="loginpassword" name="loginpassword" aria-describedby="passwordHelpBlock" placeholder="Enter password">
                            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                <img src="{% static 'img/blind.png' %}" style='height:18px' id="togglePasswordImg">
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
                </form>
                <p>New User? <a href={% url 'signup' %}>Signup</a> from here</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    $(document).ready(function(){
        $('#togglePassword').click(function(){
            const imgpath = document.getElementById('togglePasswordImg').src;
            const img_array = imgpath.split("/");
            const img = img_array[img_array.length - 1]
            if(img === "blind.png"){
                document.getElementById('togglePasswordImg').src = "{% static 'img/eye.png' %}";
                document.getElementById('loginpassword').type =  'text';
                console.log('clicked togglePassword')
            }
            else{
                document.getElementById('togglePasswordImg').src = "{% static 'img/blind.png' %}";
                document.getElementById('loginpassword').type =  'password';
                console.log('clicked togglePassword')
            }
        })
    })
 </script>
{% endblock %} 